.btn {
  @include font-vw(md);

  display: inline-block;
  padding: unit-vw(13px) unit-vw(30px);
  border-radius: 12px;
  color: $white;
  font-weight: bold;
  background-color: $black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;

  @include respond-to(desktop) {
    padding: unit-vw(18px, desktop) unit-vw(65px, desktop);
  }

  &--green {
    color: $color-button-font-default;
    background-color: $color-button-default;
  }
}
