%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
