<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
        <meta charset="utf-8" />

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="user-scalable=0,width=device-width,initial-scale=1,maximum-scale=1" />
        
        <meta property=og:url content="">
        <meta property=og:title content="">
        <meta property=og:description content="">
        <meta property=og:image content="">
        
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

        <title>FRS ITCSS</title>

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="/Content/css/ie-old.css">
        <![endif]-->

        <link rel="stylesheet" href="css/style.css" />
    </head>
    
    <body class="body">
        <div class="wrapper">            
            <main class="main">
                <section class="hero">
                    <div class="container">
                        <h1 class="hero__heading">Heading</h1>

                        <a class="btn btn--green hero__btn" href="#">Button</a>
                    </div>
                </section>
            </main>

            <header class="header">
                <div class="container">
                    <a class="logo" href="#">
                        <img class="logo__img" src="img/logo.png" alt="logo" />
                    </a>

                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__list__item">
                                <a class="nav__list__item__link" href="#">
                                    <span class="hide-on-desktop">Lorem</span>
                                    <span class="show-on-desktop">Ipsum?</span>
                                </a>
                            </li>
                            <li class="nav__list__item">
                                <a class="nav__list__item__link" href="#">
                                    <span class="hide-on-desktop">Lorem</span>
                                    <span class="show-on-desktop">Ipsum?</span>
                                </a>
                            </li>
                            <li class="nav__list__item">
                                <a class="nav__list__item__link" href="#">
                                    <span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            
            <footer class="footer">
                <div class="container">
                    test footer
                </div>
            </footer>
        </div>

        <script src="js/app.vendor.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
